@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,600&display=swap');

$light: #ffffff;
$gray: #c4ccde;

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Rubik', sans-serif;
}

.flexi{
  display: flex;
  
}

.navbar{
    background-color: $light;
    padding: 1rem 2rem;
    border-bottom: 1px solid;
}

.sidebar{
  width: 14rem;
  height: calc(100vh - 52px);
  border-right: 1px solid $gray;

  ul{
    list-style: none;
    padding: 1rem 2rem;
    li{
      margin-bottom: 1rem;
      a{
        text-decoration: none;
      }
    }
  }
  }

