@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,600&display=swap');

$light: #ffffff;
$gray: #5c5e63;

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Rubik', sans-serif;
}

.flexi{
  display: flex;
  
}

.navbar{
    background-color: $light;
    padding: 1rem 2rem;
    border-bottom: 1px solid;
}

.sidebar{
  width: 14rem;
  height: 100vh;
  border-right: 1px solid $gray;

  ul{
    list-style: none;
    padding: 1rem 2rem;
    li{
      margin-bottom: 1rem;
      a{
        text-decoration: none;
        &.active{
          color: $light;
          background-color: #FFB800;
          padding: 0.5rem 1rem;
          border-radius: 5px;
        }
      }
    }
  }
  }


  .loginDiv{
    display: flex;
    height: 100vh;
    // width: 100vw;
    align-items: center;
    justify-content: center;

  }
